body {
  margin: 0;
  padding: 0;
}

.icon {
  font-size: 24px;
}

.app {
  background-color: #fff;
  color: #242424;
  transition: background-color 0.5s, color 0.5s;
}

.app.dark {
  background-color: #242424;
  color: #fff;
}
